<mat-form-field [appearance]="appearance"
[formGroup]="parentFormGroup.form"
[floatLabel]="floatLabel"
class="input-container"
(focusin)="onFocusIn($event)"
(focusout)="onFocusOut($event)"
>
  <mat-label *ngIf="labelName">{{ labelName }}</mat-label>
  <textarea   [formControl]="$any(ngControl.control)" matInput
    [rows]="rows"
    [value]="value"
    [placeholder]="placeholder"
    [required]="required"
  >
  </textarea>
  <mat-hint>{{hint}}</mat-hint>
  <mat-error class="form-text text-danger" *ngFor="let errorMessage of $any(parentFormGroup.form.controls)[$any(ngControl.name)]['errorMessages']">
    {{errorMessage}}<br/>
  </mat-error>

</mat-form-field>
