.hmv-container {
	display: grid;
	place-content: center;
}

.card-size {
	max-width: 475px;
	margin: 2em 0.75em;
}

.checked {
	max-width: 270px;
	@screen tbt {
		max-width: 360px;
	}
}

::ng-deep textarea {
	font-size: 0.75em !important;
	resize: none !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
	padding: 0 !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
	border-top: none;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
	color: var(--primary-pure);
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
	border-top: none !important;
}
