button {
	width: 100%;
	min-width: 220px;
	height: 40px;
  text-transform: uppercase;

	@screen tbt {
		min-width: 200px;
		width: 100%;
		height: 42px;
	}
}

.hmv-icon--left,
.hmv-icon--rigth {
	position: relative;
	top: -2px;
}

.hmv-btn-primary {
	@apply bg-primary-pure
  text-gray-50;
}

.hmv-btn-primary--hover {
	@apply hover:bg-gray-50
  hover:text-primary-pure;
}

.hmv-btn-accent {
	@apply bg-gray-50
  text-primary-pure;
}

.hmv-btn-accent--hover {
	@apply hover:text-gray-50
  hover:bg-primary-pure;
}

// materil style
span.mat-button-wrapper {
	position: relative;
	top: 2px;
}
