{
  "arrowParens": "always",
  "semi": false,
  "trailingComma": "all",
  "singleQuote": true,
  "bracketSpacing": true,
  "printWidth": 100,
  "tabWidth": 2,
  "quoteProps": "consistent",
  "proseWrap": "always",
  "useTabs": true,
  "overrides": [
    {
      "files": ["*.json", "*.md", ".prettierrc", "*.yml"],
      "options": {
        "useTabs": false
      }
    }
  ]
}
